.font-yellow{
    color: #a27a02;
}

.font-red{
    color: @red-deep;
}

.font-red-light{
    color: @red;
}

.font-blue{
    color: @blue;
}

.font-black-deep{
    color: @black-deep;
}

.font-grey{
    color: #999999;
}

.font-grey-light{
    color: @grey-light;
}

.font-black-darker{
    color: @black-darker;
}

.background-black{
    background-color: @black;
}

.background-grey{
    background-color: @grey-light;
}