.top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 0;
    background: @blue;
}
.top-left{
    padding-left: 20px;
    .quote{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: @white;
    }
}
.top-font{
    color: @white;
}
 .menu-button{
    display: inline-block;
    width: 55px;
    height: 100%;
    background: @blue-grey;
    left: 240px;
    cursor: pointer;
    .menu-line{
        background: @white;
        width: 25px;
        height: 3px;
        border-radius: 3px;
         &:first-child{
            transform: translateY(-4px);
        }
        &:last-child{
            transform: translateY(4px);
        }
    }
    ul{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 13px;
       
    }
}
.main-container{
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
    .index-body{
        width: 100%;
        height: 777px;
        display: table;
    } 
}

.nav-scroll{
    width: 240px;
    height: 100%;
    background: @black;
    display: table-cell;
    color: @white;
}
.nav-file{
    display: table-cell;
    background: @grey-deeper;
    width: 320px;
    color: @white;
}
.sider-title{
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid @black-dark;
}
.sider-content{
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.content-menu{
    &:hover{
        background: @blue;
    }
}
.detail-container{
    display: table-cell;
    background: @grey-light;
}
.top-edit{
    padding-right: 40px;
}
.content-detail{
    display: inline-block;
    width: 809px;
    height: 809px;
}
canvas{
    position: absolute;
    width: 300px !important;
    height: 300px !important;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;

}
canvas[label]{
    font-size: 18px;
}