.top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 0;
    background: @blue;
}
.top-left{
    padding-left: 20px;
    .quote{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: @white;
    }
}
.top-font{
    position: absolute;
    color: @white;
}
 .menu-button{
    display: inline-block;
    width: 55px;
    height: 100%;
    background: @blue-grey;
    left: 240px;
    cursor: pointer;
    &:hover{
        .menu-line:nth-child(1){
                transform: translateY(-6px);
            }
        .menu-line:nth-child(2){
            transform: scaleX(1);
        }
        .menu-line:nth-child(3){
            transform: translateY(6px);
        }
    }

    .menu-line{
        background: @white;
        width: 25px;
        height: 3px;
        border-radius: 3px;
        transition: transform .5s;
        -moz-transition: transform .5s; /* Firefox 4 */
        -webkit-transition: transform .5s; /* Safari 和 Chrome */
        -o-transition: transform .5s; /* Opera */
         &:first-child{
            transform: translateY(-4px);
        }
        &:last-child{
            transform: translateY(4px);
        }
    }
    ul{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 13px;
    }
 }

.is-active .menu-line:nth-child(1){
     transform: rotate(-45deg) translate3d(-2px, 2px, 0);
}
.is-active .menu-line:nth-child(2){
     transform: scaleX(0);
}
.is-active .menu-line:nth-child(3){
     transform: rotate(45deg) translate3d(-2px, -3px, 0);
}
.main-container{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
    .index-body{
        width: 100%;
        height: 100%;
        display: table;
    } 
}
.nav-scroll{
    width: 240px;
    height: 100%;
    background: @black;
    display: table-cell;
    color: @white;
}
.content-right{
    position: absolute;
    left: 240px;
    top: 0;
    width: 100%;
    height: 100%;
}
.nav-file{
    display: table-cell;
    background: @grey-deeper;
    width: 320px;
    height: 100%;
    color: @white;
}
.sider-title{
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid @black-dark;
}
.sider-content{
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    li{
        position: relative;
        margin: 0;
        padding: 0;
    }
}
.content-menu{
    a{
        border-left: 3px solid transparent;
        color: @grey-white-light;
        box-sizing: border-box;
        &.active{
            border-left: @blue 3px solid;
        }
        &:hover{
            border-left-color:@blue;
            color: @white;
            background: @black-deep;
        }
    }
}
.detail-container{
    /*position: absolute;*/
    /*left: 320px;*/
    /*top: 0;*/
    /*width: 61%;*/
    height: 100%;
    /*position: relative;*/
    display: table-cell;
    background: @grey-light;
}
.top-edit{
    /*padding-right: 40px;*/
}
.content-detail{
    display: inline-block;
    width: 100%;
    height: 740px;
    /*height: 809px;*/
    /*overflow: scroll;*/
}
.chart-wraper{
    display: block;
    /*width: 100%;*/
    height: 100%;
    padding: 30px;
    .charts-title{
        margin: 15px 0;
        font-size: 20px;
    }
    .switch-button{
        height: 27px;
        margin: 25px 0;
        padding-right: 80px;
        button{
            float: right;
        }
        .active{
            background: @blue;
            color:@white;
        }
    }
}
canvas.pie-chart{
    position: relative;
    width: 400px !important;
    height: 400px !important;
    top: 20%;
    left: 50%;
    margin-left: -200px;
}
canvas.line-chart{
    position: relative;
    width: 500px !important;
    height: 246px !important;
    top: 70%;
    left: 50%;
    margin-left: -250px;
}
canvas[pieChartLabels]{
    font-size: 20px !important;
}