@import 'variable';
@font-face {
    font-family: 'druk_pierre_testregular';
    src: url("../fonts/drukxcond-superdesktop-webfont.eot");
    src: url("../fonts/drukxcond-superdesktop-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/drukxcond-superdesktop-webfont.woff2") format('woff2'),url("../fonts/drukxcond-superdesktop-webfont.woff") format('woff'),url("../fonts/drukxcond-superdesktop-webfont.ttf") format('truetype'),url("../fonts/drukxcond-superdesktop-webfont.svg#druk_pierre_testregular") format('svg');
    font-weight: normal;
    font-style: normal;
}
#app{
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "druk_pierre_testregular";
    background: @black;
}

section#intro{
    width: 100%;
    height: 100%;
    background: @black;
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color: @white;
    animation:titleIntro 3.8s forwards;
    -webkit-animation:titleIntro 3.8s forwards; /*Safari and Chrome*/
    @keyframes titleIntro
        {
        90% {height: 100%;}
        100% {height: 0;}
    }

        @-webkit-keyframes titleIntro /*Safari and Chrome*/
        {
        90% {display: block;}
        100% {display: none;}
    }
    .intro-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1{
        overflow: hidden;
        font-size: 54px;
        text-transform: uppercase;
        letter-spacing: 18px;
        font-weight: 100;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        .inner{
            animation:frontTitle1 5s forwards;
            -webkit-animation:frontTitle1 5s forwards; /*Safari and Chrome*/
            @keyframes frontTitle1
                {
                0% {transform: translateY(150%);}
                20% {transform: translateY(0);}
                60% {transform: translateY(0);}
                80% {transform: translateY(-150%);}
            }

             @-webkit-keyframes frontTitle1 /*Safari and Chrome*/
                {
                0% {transform: translateY(150%);}
                20% {transform: translateY(0);}
                60% {transform: translateY(0);}
                80% {transform: translateY(-150%);}
            }
        }
    }
    h2{
        overflow: hidden;
        font-family: "微软雅黑";
        font-weight: 300px;
        margin: 15px 0 0 0;
        font-size: 17px;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        .inner{
            animation:frontTitle2 5s forwards;
            -webkit-animation:frontTitle2 5s forwards; /*Safari and Chrome*/
            @keyframes frontTitle2
                {
                0% {transform: translateY(180%);}
                10% {transform: translateY(180%);}
                30% {transform: translateY(0);}
                50% {transform: translateY(0);}
                80% {transform: translateY(-180%);}
            }

                @-webkit-keyframes frontTitle2 /*Safari and Chrome*/
                {
                0% {transform: translateY(180%);}
                10% {transform: translateY(180%);}
                30% {transform: translateY(0);}
                50% {transform: translateY(0);}
                80% {transform: translateY(-180%);}

            }
        }
    }
}
.content{
    width: 100%;
    height: 100%;
    position: relative;
}
.top-wrap{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background-color: @blue;
    font-family: "微软雅黑";    
    .wrap-main{
        width: 960px;
        margin: 0 auto;
        padding: 0 20px;
        .quote{
            font-size: 18px;
            color: @white;
        }
    }
}
.index-main{
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
.title-wrapper{
    width: 100%;
    height: 420px;
    overflow: hidden;
    transition: all 1s ease-out;
    position: absolute;
    top: 0;
    .title{
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        font-size: 400px;
        color: @blue;
        display: flex;
        /*transition: height .5s ease-out;*/
        animation:mymove 1s forwards;
        -webkit-animation:mymove 1s forwards; /*Safari and Chrome*/
        @keyframes mymove
            {
            from {transform: translateY(-10%);}
            to {transform: translateY(-50%);}
        }

            @-webkit-keyframes mymove /*Safari and Chrome*/
            {
            from {transform: translateY(-10%);}
            to {transform: translateY(-50%);}
        }
        .letter{
            height: 420px;
            font-family: 'druk_pierre_testregular';
            flex-basis: 25%;
            position: relative;
            overflow: hidden;
            opacity: .2;
            vertical-align: baseline;
            &:first-child{
                text-align: left;
                /*transform: translateX(-60px);*/
            }
            &:last-child{
                text-align: right;
                /*transform: translateX(60px);*/
            }  
            .inner{
                /*opacity: 0;*/
                transform: translateY(100%);
            }
        }
    }
}

.index-main-body{
    width: 300px;
    padding: 30px 0 100px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    font-family: "微软雅黑";
    .index-header{
        text-align: center;
        .headtitle{
            color: @blue;
        }
        .subtitle{
            margin: 30px 0 20px;
            color: @black-light;
        }
    }
    .main-nav{
        width: 300px;
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
        .nav-slider{
            width: 100%;
            display: inline-block;
            position: relative;
            .sign-wraper{
                display: inline-block;
                width: 4em;
                line-height: 35px;
                cursor: pointer;                
            }
        }
        .sign-font{
           color: @black-light;            
           display: inline-block;
           width: 2em;
           &:before{
            display: block;
            position: absolute;
            content: attr(data-hover);
            width: 0;
            height: 100%;
            color: @blue;
            overflow: hidden;
            white-space: nowrap;
            transition: width .3s ease-out;
           }
           &:hover{
               &:before{
                    width: 2em;
                    transition: width .3s ease-out;
               }
            } 
        }
        .sign-active{
            color: @blue;
        }
    }
    .main-box{
        position: relative;
        width: 300px;
        height: 200px;
        text-align: left;
        overflow: hidden;
        /*border: 1px solid @black-lighter;   */
        transition: height .5s;
        -moz-transition: height .5s; /* Firefox 4 */
        -webkit-transition: height .5s; /* Safari 和 Chrome */
        -o-transition: height .5s; /* Opera */     
        .group-inputs{
            font-size: 14px;
            padding: 1px 0;
            border-radius: 3px;
            .input-wraper+ .input-wraper{
                border-top:1px solid @grey; 
            }
            input{
                width: 100%;
                padding: 1em .5em;
                border: 0;
                outline: 0;
            }
        }
        .signupWraper{
            position: absolute;
            left: 0;
            display: inline-block;
            width: 300px;
            transition: left .5s;
            -moz-transition: left .5s; /* Firefox 4 */
            -webkit-transition: left .5s; /* Safari 和 Chrome */
            -o-transition: left .5s; /* Opera */
            
        }
        .signinWraper{
            position: absolute;
            left: 300px;
            display: inline-block;
            width: 300px;
            transition: left .5s;
            -moz-transition: left .5s; /* Firefox 4 */
            -webkit-transition: left .5s; /* Safari 和 Chrome */
            -o-transition: left .5s; /* Opera */
        }
    }
    .button-wraper{
        width: 100%;
        margin-top: 20px;
        .sign-button{
            text-align: center;
            border-radius: 3px;
            color: @white;
            width: 100%;
            height: 41px;
            line-height: 41px;
        }
        .signup-button{
            background: linear-gradient(to bottom,#80c3f7,#6bbaf8); 
            opacity: .8;           
        }
        .signin-button{
            background: @blue;
            border: 0;
            &:hover{
                background: @blue-deep;
            }
        }
    }
}
.login{
    width: 100%;
    text-align: center;
    .login-title{
        color: @blue;
    }
    .sub-title{
        font-weight: normal;
        color: @black-light;
    }
}

.todo-list{
    position: relative;
    width: 100%;
    margin: 40px 0;
}

.list-title{
    width: 60%;
    margin: 0 auto;
}

.tips{
    cursor: pointer;
    width: 60%;
    background-color: @white;
    margin: 0 auto;
    box-shadow: 0 5px 5px @black-lighter;    
    li{
        position: relative;
        width: 100%;
        height: 75px;
        line-height: 75px;
        border: 1px solid @black-lighter;
        border-bottom: none;
        border-radius: 4px;
        padding-left: 45px;
        .tip-name{
            width: 90%;
            height: 100%;
        }
    }
    .operate-more{
        position: absolute;
        top: 50%;
        margin-top: -37px;
        line-height: 100%;
        right: 0;
        width: 10%;
        height: 100%;
        color: @grey-deep;
    }
}

.add-tip{
    position: absolute;
    background-color: @blue;
    width: 54px;
    height: 54px;
    -webkit-border-radius:50%;
    border-radius: 50%;
    right: 130px;
    bottom: 4px;
    color: @white;
    font-size: 34px;
    font-weight: 500;
}

.tip-chart{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    .tip-chart-content{
        width: 100%;
        text-align: left;
        display: inline-block;
        padding: 20px 30px 50px;
        margin: 0 auto;
        box-shadow: 0 5px 5px @black-lighter;    
        border: 1px solid @black-lighter;
    }
}

.tip-title{
    color: @blue;
    font-size: 22px;
    font-weight: 500px;
    padding-bottom: 5px;
    border-bottom: 1px solid @black-lighter;
}

.chart-detail{
    margin-top: 20px;
}

.state-done{
    color: limegreen;
}

.state-not-done,.tip-notice{
    color: red;
}


.tip-check-box{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    left: 10px;
    
}

.box-nomal{
    border: solid 1px grey;
}

.box-active{
    background-color: @blue;
}

.hide{
    display: none;
}

.operate-modal{
    .select{
        cursor: pointer;
    }
}

.edit-button{
    margin-top: 20px;
    text-align:right;
}
