//color 字体颜色
@black-lighter:#ccc;        //浅灰色
@black-light:#555;          //浅黑
@blue:#55abed;              //蓝色
@grey-white:#eee;           //浅灰白
@grey-deep:#959595;         //深灰色
@white:#fff;                //白色