<ng-template [ngIf]="!treeItem.hasChildren">
  <span class="tree-branch-name">
    <i class="my-icon" [ngClass]="{'icon-folder-close-alt': !treeItem.open, 'icon-folder-open-alt': treeItem.open}"></i>
    {{treeItem.text}}
  </span>
  <!--<span class="tree-label" [ngIf]="newFolder"><input type="text" name="" value="新建文件夹"></span>-->
</ng-template>

<!-- 有子集的场景 -->
<ng-template [ngIf]="treeItem.hasChildren">
  <span class="tree-branch-name">
      <i class="my-icon" [ngClass]="{'icon-folder-close-alt': !treeItem.open, 'icon-folder-open-alt': treeItem.open}"></i>
      {{treeItem.text}}
      <i class="my-icon icon-angle-down"></i>
  </span>
  <ul [ngClass]="{hidden: !treeItem.open}">
    <li *ngFor="let item of treeItem.children" [nk-tree-item]="item" (click)="onChildItemClick($event, item)" (itemClick)="onChildItemClick(null, $event)"
      [treeOpt]="treeOpt" [newFolder]="newFolder" [ngClass]="{'parent_li': item.hasChildren, 'tree-selected': !item.hasChildren && item.selected, 'tree-open': item.hasChildren && item.open}">
  </ul>
</ng-template>