<div style="display: block">
<div class="">
  <button type="" (click)="showChart('line')">线性图</button>
  <button type="" (click)="showChart('pie')">饼状图</button>
</div>
  <!--<canvas class="pie-chart" baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>-->
   <canvas [ngClass]="{'line-chart': chartType == 'line','pie-chart':chartType == 'pie'}" baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [chartType]="pie"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>
<script src="../../config_js/chart.min.js"></script>