<style>
    .legend {                                                   /* NEW */
        font-size: 12px;                                          /* NEW */
    }                                                           /* NEW */
    rect {                                                      /* NEW */
        stroke-width: 2;                                          /* NEW */
    }                                                               /* NEW */
</style>

   <div id="chart"></div>
    