    <!--<div class="content">-->
        <!--<div class="top-wrap">
            <div class="top-left">
                <span class="quote">你的笔记管家</span>
            </div>
            <div class="menu-button" (click)="toggleLeftMenu($event)" >
                <ul>
                    <li class="menu-line"></li>
                    <li class="menu-line"></li>
                    <li class="menu-line"></li> 
                </ul>
            </div>
        </div>-->
        <div class="main-container" [ngClass]="{'bk-black': skinColor == 'black', 'bk-grey': skinColor == 'grey'}">
            <!--<div class="index-main-body">-->
                <div class="index-body">
                    <div class="nav-scroll"  id="leftNav">
                        <div class="top top-left">
                            <span class="quote">你的笔记管家</span>
                        </div>
                        <div class="sider-title">
                            <div style="display:inline-block;" class="dropdown">
                                <span class="nav-font top-font dropdown-toggle" data-toggle="dropdown" [ngClass]="{'active': currentOperate == '注册'}">
                                    <i class="my-icon icon-plus-sign-alt"></i>
                                    新建
                                    <i class="my-icon icon-angle-down"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li [routerLink]="['/edite', newId]"><a (click)="onNewFileId()">笔记</a></li>
                                    <li [routerLink]="['/markdown']" ><a (click)="onNewFileId()">Markdown</a></li>
                                    <li class="divider"></li>
                                    <li><a data-toggle="modal" data-target="#addFolderModal">文件夹</a></li>
                                </ul>
                            </div>
                        </div>
                        <nk-add-folder (newFolder)="addNewfolder($event)"></nk-add-folder>
                        <div class="sider-content dropdown" id="addContent">
                            <ul>
                                <li class="content-menu" >
                                    <a href="javascript:void(0);" class="menu-detail" (click)="setTreeOpen()">
                                        <i class="my-icon icon-folder-close font-yellow"></i>
                                        我的文件夹
                                    </a>
                                    <div style="text-align: center;">
                                        <nk-tree [(value)]="value" [treeData]="treeData" [treeOpen]="treeOpen" [newFolder]="newFolder" ></nk-tree>
                                    </div>
                                </li>
                                <li class="content-menu">
                                    <a [routerLink]="['/favoriteNotes']"  (click)="selectCal()" class="menu-detail" >
                                        <i class="my-icon icon-heart font-red"></i>
                                        浏览量统计
                                    </a>
                                </li>
                                <li class="content-menu dropdown-toggle" id="trashBox" data-toggle="dropdown">
                                    <a href="javascript:void(0);" class="menu-detail">
                                        <i class="my-icon icon-trash font-grey"></i>
                                        回收站
                                    </a>
                                </li>
                                    <ul class="dropdown-menu">
                                        <li [routerLink]="['/edite', newId]"><a (click)="onNewFileId()" >清空回收站</a></li>
                                        <li [routerLink]="['/markdown']" ><a (click)="onNewFileId()">全部恢复</a></li>
                                    </ul>
                            </ul>
                        </div> 

                    </div>
                    <!--<div class="content-right" id="contentRight">-->
                        <div class="view-port" id="viewPort">
                            <div class="nav-file">
                                <div class="top">
                                    <div class="menu-button" ckucssa id="menuButton" (click)="toggleLeftMenu()" >
                                        <ul>
                                            <li class="menu-line"></li>
                                            <li class="menu-line"></li>
                                            <li class="menu-line"></li> 
                                        </ul>
                                    </div>
                                </div>
                                <div class="note-list">
                                    <!--<ul>
                                        <li *ngFor="let item of noteList,let i = index" [routerLink]="['/edite', i]" (click)="itemSelect(i)" [class.li-active]="focusedIndex == i">
                                            <span class="note-name">
                                                <i class="my-icon icon-file-alt font-blue"></i>
                                                {{item.name}}
                                            </span>
                                            <div class="note-abstract">{{item.abstract}}</div>
                                            <div class="date-time">
                                                <span class="file-date">{{item.createTime}}</span>
                                            </div>
                                        </li>
                                    </ul>-->
                                    <div class="lock-detail">
                                        <div class="lock-input">
                                            <input type="password" name="" value="" placeholder="请输入密码">
                                            <span class="lock-icon-content">
                                                <i class="my-icon icon-lock"></i>
                                            </span>
                                            <div class="lock-tip">
                                                <span class="cancel-read-password" data-toggle="modal" data-target="#cancelPasswordModal">取消阅读密码</span>
                                                <span class="forget-read-password">
                                                    <a href="">忘记密码</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <nk-cancel-password></nk-cancel-password>
                                </div>
                            </div>
                            <div class="detail-container">
                                <div class="top top-edit">
                                    <div class="profile dropdown">
                                        <div class="">
                                            <i class="my-icon icon-user font-grey-light" data-toggle="modal" data-target="#myModal"></i>
                                            <i class="my-icon icon-angle-down font-grey-light dropdown-toggle" data-toggle="dropdown"></i>
                                        </div>
                                        <ul class="dropdown-menu">
                                            <li><a data-toggle="modal" data-target="#myModal">个人信息</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">EJB</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">注销登陆</a></li>
                                        </ul>
                                    </div>
                                    <div class="skin-color">
                                        <span class="background-black" [class.skin-black-active]="skinClor == 'black'" (click)="changeSkin('black')"></span>
                                        <span class="background-grey" [class.skin-grey-active]="skinClor == 'grey'" (click)="changeSkin('grey')"></span>
                                    </div>
                                </div>
                                <nk-profile></nk-profile>
                                <div class="content-detail">
                                    <!--<iframe id="iframe-for-ng1-page" frameborder="0"
                                        scrolling="auto" style="width:100%;height:100%;" src="http://localhost:8080/favoriteNotes">
                                    </iframe>-->


                                    <!--<div class="file-title" [class.div-hidden]="fileTitleHide">
                                        <input type="text" name="" value="" [(ngModel)]="fileTitle">
                                        <button class="fileSave">保存</button>
                                    </div>-->
                                    <div class="lock-content">
                                        <i class="icon-pencil"></i>
                                    </div>
                                    <router-outlet></router-outlet>                                
                                </div>
                            </div>
                        </div>
                    <!--</div>-->
                </div>
            <!--</div>-->
        </div>
    <!--</div>-->