    <!--<div class="content">-->
        <!--<div class="top-wrap">
            <div class="top-left">
                <span class="quote">你的笔记管家</span>
            </div>
            <div class="menu-button" (click)="toggleLeftMenu($event)" >
                <ul>
                    <li class="menu-line"></li>
                    <li class="menu-line"></li>
                    <li class="menu-line"></li> 
                </ul>
            </div>
        </div>-->
        <div class="main-container">
            <!--<div class="index-main-body">-->
                <div class="index-body">
                    <div class="nav-scroll" id="leftNav">
                        <div class="top top-left">
                            <span class="quote">你的笔记管家</span>
                        </div>
                        <div class="sider-title">
                            <span class="nav-font top-font" [ngClass]="{'active': currentOperate == '注册'}" data-hover="新建">新建</span>
                        </div>
                        <div class="sider-content">
                            <div class="content-menu">
                                我的文件夹
                            </div>
                            <div class="content-menu">
                                我的文件夹
                            </div>
                        </div>
                    </div>
                    <div class="nav-file">
                        <div class="top">
                            <div class="menu-button" (click)="toggleLeftMenu()" >
                                <ul>
                                    <li class="menu-line"></li>
                                    <li class="menu-line"></li>
                                    <li class="menu-line"></li> 
                                </ul>
                            </div>
                        </div>
                        <div class="sider-content">
                            最近文档
                        </div>
                        <div class="sider-content">
                            我的文件夹
                        </div>
                    </div>
                    <div class="detail-container">
                        <div class="top top-edit">
                            profile
                        </div>
                        <iframe [style.display]="currentIsNg1Module ? 'block': 'none'" id="iframe-for-ng1-page" [src]="PageSrc" frameborder="0"
                            scrolling="no" [style.height]="iframeHeight">
                        </iframe>
                    </div>
                </div>
            <!--</div>-->
        </div>
    <!--</div>-->