<div class="modal fade cancel-password" id="cancelPasswordModal" tabindex="-1" role="dialog" aria-labelledby="cancelPasswordModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
				<h5 class="modal-title" id="cancelPasswordModalLabel">
				取消阅读密码
				</h5>
			</div>
			<div class="modal-body cancel-modal-body">
				<div class="user-infor">
					<table>
						<tr class="lock-input">
							<td>
								<input type="password" name="" value="" placeholder="请输入密码">
							</td>
							<td>
								<span class="lock-icon-content">
								<i class="my-icon icon-lock"></i>
							</span>
							</td>
						</tr>
						<tr *ngIf="!nicknameValid">
                        	<td class="font-red-light" style="float:left;">阅读密码不能为空</td>
						</tr>
						<tr>
							<td class="lock-tip">忘记密码</td>
                    	</tr>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
				<button id="saveProfile" type="button" class="btn btn-primary" (click)="saveProfile()">
                                                保存
                                            </button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal -->
</div>